# Build files
build/
install/
log/

# Python caches
__pycache__/
*.pyc

# VS Code settings
.vscode/

# OS files
.DS_Store

# Docker Temp
.devcontainer/
*.log

# PX4 Source Code
src/PX4-Autopilot/

# Python Cache
__pycache__/
*.pycbuild/
install/
log/
__pycache__/
