
services:
  hunter_core:
    build:
      context: .
      dockerfile: docker/Dockerfile
    
    image: hunter_drone:v1.2
    container_name: hunter_drone_container
    
    network_mode: "host"
    privileged: true
    stdin_open: true
    tty: true

    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]

    environment:
      - DISPLAY=${DISPLAY}
      - QT_X11_NO_MITSHM=1
      - ROS_DOMAIN_ID=0
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=all
      - PX4_SIM_MODEL=iris_depth_camera

    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      - ./src:/root/hunter_ws/src
      - /root/hunter_ws/src/px4_msgs
    command: tail -f /dev/null
